
/*
Programming from A-Z Portfolio Website
10 Sep 2021 - Continue
Soojin Lee
Professor Daniel Shifffman */


@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive;
  }

/*container 1*/

#container1 {
  z-index: 300;
  width: 100%;
  height: 45pt;
  padding-bottom: 15pt;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid grey;

}

#container1 img {
  position: fixed;
  max-width: 100%;
  width: 120pt;
  padding-left: 10%;
  top: 24px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 34px; 
  right: 50px;
  width: auto; 
}

.navbar a {
  display: inline-block;
  color: black;
  border: 2px solid white;
  text-align: center;
  padding: 0px 40px;
  text-decoration: none;
  font-size: 17pt;
}



.navbar a:hover {
    transition: all 0.3s ease-in;
    border:2px solid rgb(73, 0, 95);
    background-color: white;
    

}


/*container 2*/

#container2 {
	width: 100%;
	height: 90%;
  z-index: -3;
  float: left;
  font-family:'Nanum Pen Script', cursive;
  max-width: 100%;
  max-height: 100%;

}


#circle1 {

  position: fixed;
  margin-left: 15%;
  width: 52%;
  margin-top: 25%;

}

#circle2 {

  position: fixed;
  width: 30%;
  margin-left: 85%;
  margin-top: 28%;


}

#circle3 {

  position: fixed;
  width: 8%;
  z-index: -10;
  margin-left: 85%;
  margin-top: 7%;


}

#circle4 {

  position: fixed;
  z-index: -3;
  margin-left: -5%;
  width: 30%;
  margin-top: -10%;


}


#nyuad {

  position: fixed;
  margin-left: 15%;
  width: 15%;
  margin-top: 21%;

}


#soojin {

  position: fixed;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  justify-content: center;
  font-size: 17pt;
  margin-top: 15%;
  outline: 1pt;
  outline-color: white;

}


#itp {
  margin-top: 20%;
  position: fixed;
  margin-left: 75%;
  width: 7%;

}

#container2 p {
  margin-top: 42%;
  margin-left: 28%;
  position: fixed;
  font-size: 17pt;

}
